
header{
  font-size: 50px;
  border: 100px;
  color: white;
  background-color: black;
  font-style: bold;
  text-align: center;
}

h2 {
  background-color: lightgreen;
  font-size: 15px:
}


p{
  font-size: 25;
  display: inline;
  width: 50%;
  line-height: 2.0;
}

/*MENU BAR*/
h1{
  text-align: center;
  color: white;
  background-color: grey;
  display: block;
}
.home {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 10px;
}
.add_pic {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 10px
}
.about{
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 10px
}

/*Arranging the images */
.gallery img{
  width: 700px;
}
#bk {
  height: 500px;
}
#mers {
  height: 500px;
}
